/* fallback */
/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  } */

/* .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  } */

body {
  background-color:  #1a1a1a !important;
}

.services-header {
  font-size: 35px;
  color: #f5f5f5;
  font-family: 'fantasy';
  text-align: center;
  margin-top: 0px;
}

.services-description {
  font-size: 20px;
  color: #f5f5f5;
  font: bold;
  font-family: 'fantasy';
  margin-left: 20px;
}

.legend {
  margin-right: 20px;
}

.legend-pod {
  margin-left: 5px !important;
}

.deployment {
  margin-left: 9em;
  margin-top: 10px;
}

.deployment-url {
  color: #f5f5f5;
  margin-bottom: 3px;
  margin-top: 5px;
}

.deployment-info {
  color: #f5f5f5;
  font-family: 'fantasy';
  margin-bottom: 0px;
  margin-top: 0px;
}

.deployment-release {
  margin-left: 5px;
}

.service {
  border-top: 5px solid #000;
  background-color: #404040;
  margin: 5px 6px 5px 6px  !important;
  padding: 0px 7px 8px 7px !important;
}

.service-name {
  color: #f5f5f5;
  margin-bottom: .1em;
}

.service-version {
  font-size: 1em;
  color: #f5f5f5;
  margin-top: .1em;
  margin-bottom: .5em;
}

.instance {
  color: white;
  margin-bottom: 5px;
  padding: 2px 10px;
}

.instance-text {
  font-size: .1em;
}

.instance-label {
  font-weight: 1000;
}

.row {
  margin-bottom: 0px;
}

.row .col {
  padding: 0px 0.15rem;
}

.pod {
  font-size: 9px;
  margin: 1px;
  padding: 2.5px;
}

.pod-red {
  font-size: 15px;
  font-family: 'fantasy';
  color: white;
  background-color: red;
  background: repeating-linear-gradient(
    45deg,
    red,
    red 10px,
    IndianRed 10px,
    IndianRed 20px
  );
}

.pod-orange {
  font-size: 15px;
  font-family: 'fantasy';
  color: white;
  background-color: orange;
}

.pod-lightgreen {
  background-color: lightgreen;
  font-size: 15px;
  font-family: 'fantasy';
  color: grey;
  background: repeating-linear-gradient(
    45deg,
    lawngreen,
    lawngreen 10px,
    Aquamarine  10px,
    Aquamarine  20px
  );
}

.pod-green {
  font-size: 15px;
  font-family: 'fantasy';
  color: white;
  background-color: green;
}

.pod-blue {
  font-size: 15px;
  color: white;
  font-family: 'fantasy';
  background-color: #01B9E4;
}